.landing {
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
  justify-content: center;
  height: 100vh;
  background-image: url("https://cdn.wallpapersafari.com/9/32/YF5sBZ.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.link {
  text-decoration: none;
  color: #432a75;
}

.lightbutton {
  border: 1px solid #fff;
  box-shadow: 25px 15px 8px #6948ab;
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  color: #6948ab;
  background: #d4d4d6d7;
  margin: 8px 8px;
  padding: 4px 16px;
  width: auto;
  cursor: pointer;
  transition: 0.5s;
}
.lightbutton:hover {
  box-shadow: 0px 0px 15px 1px #6948ab;
  transform: rotate(0.05turn);
}
